a {text-decoration: none;}
.resize {margin: 0 10px;}
.hot_line {border-bottom: 1px solid rgb(239 239 239 / 15%);}
.setHeight {height :100%};

.openMenu {display: block;}
.quickNav {display: none;}

.sMargin {margin-top: 70px;}

.Promotion{background: #fafafc; padding: 30px 0 110px;}
.PromotionTitle{width: 100%; text-align: center; padding: 80px 0 40px;}
.PromotionTitle span {color:#72c09f}
.PromotionTitle p {margin-top: 10px;}

#tagetSet .v-timeline-item__dot{position: relative; left: 0;}
#tagetSet .v-timeline-item__dot::before{content: '';width: 10px;height: 10px;top: 7px;left: 7px;background: #fafafc;position: absolute;border-radius: 50%;}

.shadow .v-timeline-item__dot{box-shadow: 0 0 24px rgb(0 196 115 / 60%);}
.shadowNo .v-timeline-item__dot{box-shadow: none; }

.qnaSet .v-text-field__details{display: none;}

.logo .v-image__image{background-position: unset!important;}

@media (min-width: 605px){
  .sMargin {margin-top: 70px;}
  .PromotionTitle {padding: 80px 0 40px;}
  .quickNav {display: none;}
  .openMenu {display: block;}
  .v-btn--fab.v-size--default {transition: all 1s;}
}
@media (max-width: 960px){
  .sMargin {margin-top: 10px;}
  .PromotionTitle {padding: 30px 0 20px;}
  .quickNav {display: block; width: 100%; text-align: right; }
  .openMenu {display: none;}
  .v-btn--fab.v-size--default {height: 36px!important; width: 36px!important; transition: all 1s;}

}

